<root>
  <FileGroup Name="RecentRequest-all.js">
    <File Path="RecentRequest.partial.js" Minify="false" />
  </FileGroup>
  <FileGroup Name="RecentRequest-all.js">
    <File Path="RecentRequest.partial.js" Minify="true" />
  </FileGroup>
  <FileGroup Name="ManageSku-all.js">
    <File Path="ManageSku.partial.js" Minify="false" />
  </FileGroup>
  <FileGroup Name="ManageSku-all.js">
    <File Path="ManageSku.partial.js" Minify="true" />
  </FileGroup>   
</root>  