@model DcmsMobile.Inquiry.Areas.Inquiry.Home.DisambiguateViewModel

@{
    ViewBag.Title = "Multiple Matches";
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
}

<div class="container">
    <h2 style="margin-top:0px;">
        @ViewBag.Title <small>@Model.Scan</small>
    </h2>
    

    <div class="list-group">
        @foreach (var choice in Model.Choices)
        {

            <a href="@choice.Url" class="list-group-item list-group-item-success">
                @choice.Description
                <div class="badge">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
        </a>



        }
    </div>
</div>


@*$Id$*@
