@model DcmsMobile.Inquiry.Areas.Inquiry.PickslipEntity.PickslipListViewModel
@{
    ViewBag.Title = "Recently Active Pickslips";
    Layout = MVC_Inquiry.Inquiry.SharedViews.Views._layoutInquiry;
}
<div class="container">
   
        <h2 style="margin-top:0px">
            @ViewBag.Title
        </h2>
   
    @Html.Partial(MVC_Inquiry.Inquiry.PickslipEntity.Views._pickslipListPartial)
</div>
