/* Progress bar displayed in day view HTML */
.ui-progressbar {
    position: relative;
    height: 1.2em;
}

.ui-progressbar-value {
    position: absolute;
    font-size: 0.9em;
    font-weight: normal;
    overflow: hidden;
    text-align: center;
}

.ui-progressbar .ui-widget-header {
    color: Black;
    font-weight: normal;
}

.app-addevent {
    float: left;
    cursor: pointer;
}

.app-daydetail {
    display: inline-block;
    cursor: pointer;
}

#calendarLoading {
    z-index: 1000;
    width: 15mm;
    height: 15mm;
    position: fixed;
    background-color: brown;
    display: none;
}

.fc-event-skin
{
    background-color:whitesmoke;
}
.fc-event.ui-selected > .fc-event-skin {
    background-color: rgb(243,152,20)!important;
}

.fc-event.app-nocarrier > .fc-event-skin {
    background-color: white;
}

.fc-day-number {
    cursor: pointer;
}

#dlgAppointment label {
    display: inline-block;
    width: 9em;
    padding-bottom: 0.8em;
}

div.arrival-slider {
    display: inline-block;
    width: 15em;
}

.fc-event-inner span.ui-icon {
    display: inline-block;
}

.fc-event-time
{
    font-size:1.1em;
}

.fc-event-title
{
    font-style:italic;
}


.app-edit
{
    font-size:1.1em;
    cursor:pointer;
}

/*Delete an appointment*/
.app-delete
{
    font-size:1.1em;
    cursor:pointer;
}
/* Progress bar values in day view*/
div.fc-view-basicDay div.ui-progressbar-value
{
    text-align:left;
}

/* In day view, seperate the events somewhat */
div.fc-view-basicDay .fc-event
{
    margin-bottom:1em;
    font-size:1em;
}

/* The spinner text box sould not appear highlighted within the dialog*/
div.ui-dialog-content span.ui-spinner
{
    background-image:none;
    background-color: transparent;
}