
/* This CSS will be used for printer friendly pages*/

/* Remove input controls, sidebars, menu bar from page*/
#menu, fieldset, input, #secondaryContent, .ui-button,.ui-dialog
{
    display: none !important;
}

/* Remove underling and color from links*/
a, a:visited
{
    text-decoration: none;
    color: Black;
    cursor: pointer;
}

/* Move main content to left*/
#primaryContentContainer
{
    float: left;
}

/* Remove insert lines between the rows ans column of a table*/
table, td, th
{
    border-spacing: 0px;
    border: 0.3px solid black;
}

/* Remove page footer*/
#footer
{
    display: none;
}

/* To remove box in two column class*/
/*.inq-two-column
{
    width: 100%;
    float: left;
    overflow:visible;
}*/

/* Remove blockquote*/
#content blockquote
{

    border-left: none;
}
/* Remove highlighted text */
.ui-state-highlight, .ui-state-active , .ui-state-error 
{
    border: none;
    background:none; 
    color: White;
}
