<root>
  <FileGroup Name="Shipping-all.css">
    <File Path="Shipping.partial.css" Minify="false" />
    <File Path="standardized.partial.css" Minify="false" />
  </FileGroup>
  <FileGroup Name="Shipping-all.css">
    <File Path="Shipping.partial.css" Minify="true" />
    <File Path="standardized.partial.css" Minify="true" />
  </FileGroup>

  <FileGroup Name="Appointment.css">
    <File Path="fullcalendar.partial.css" Minify="false" />
    <File Path="Appointment.partial.css" Minify="false" />
  </FileGroup>

  <FileGroup Name="Appointment.css">
    <File Path="fullcalendar.partial.css" Minify="true" />
    <File Path="Appointment.partial.css" Minify="true" />
  </FileGroup>

  <FileGroup Name="Shipping-mobile-all.css">
    <File Path="Shipping.mobile.partial.css" Minify="false" />
    <File Path="SiteMobile.partial.css" Minify="false" />
  </FileGroup>
  <FileGroup Name="Shipping-mobile-all.css">
    <File Path="SiteMobile.partial.css" Minify="true" />
    <File Path="Shipping.mobile.partial.css" Minify="true" />
  </FileGroup>
</root>           
            