@model DcmsMobile.BoxPick.ViewModels.MasterModel
<div class="ui-state-hover picking-status" style="margin:2px 0 0 0">
@if (Model.IsPicked)
{
    @:Picked
}
else
{
    @:Picking
}
    @Html.DisplayFor(m => m.LastCartonId, MVC_BoxPick.BoxPick.Shared.Views.DisplayTemplates.ValueWithShortName) 
    @Html.DisplayFor(m => m.LastUccId, MVC_BoxPick.BoxPick.Shared.Views.DisplayTemplates.ValueWithShortName) 
    @Html.DisplayFor(m => m.LastLocation, MVC_BoxPick.BoxPick.Shared.Views.DisplayTemplates.ValueWithShortName)
</div>



@*$Id$*@