@*Reviewed By: Deepak Bhatt 11 June 2012*@

@model DcmsMobile.BoxManager.ViewModels.MovePallet.IndexViewModel
@{
    ViewBag.Title = "Move Pallet";
}
@using (Html.BeginForm(MVC_BoxManager.BoxManager.MovePallet.SourcePallet(), FormMethod.Get))
{
    <span>Scan</span><input id="scan" type="text" name="@Html.NameFor(p => p.ScanText)" size="20" />    
}
<div>Scan a pallet to move.</div>