@model bool
@{
    object id = ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty);
    if (ViewData.ContainsKey("id"))
    {
        id = ViewData["id"];
    }
    // Clone the dictionary
    var dictAttributes = ViewData.ModelMetadata.AdditionalValues.ToDictionary(p => p.Key, p => p.Value);
    dictAttributes.Add("id", id);
    if (!ViewData.ModelMetadata.ShowForEdit) {
        // The check box will be rendered but hidden if it is not meant for display
        dictAttributes.Add("class", "ui-helper-hidden");
    }
}
@Html.CheckBox(string.Empty, Model, dictAttributes)
@if (ViewData.ModelMetadata.ShowForEdit)
{
    <label for="@id">@ViewData.ModelMetadata.DisplayName</label>
}



@*$Id$*@