@*PieceScan.partial.js script is associated with this partial view*@
@model  DcmsMobile.Repack.ViewModels.RepackViewModel
<label for="tbUpcScan">
    Scan UPC</label>
@Html.TextBoxFor(m => m.SkuBarCode, new {
    id = "tbUpcScan",
    size=15,
    maxlength=20,
    data_url= Url.Action(MVC_Repack.Repack.AutoComplete.SkuAutocomplete())
})
<sup>&darr;*</sup><br />
@Html.ValidationMessageFor(m => m.SkuBarCode)
<br />
<label for="tbPieces">Pieces</label>
@Html.TextBoxFor(m => m.Pieces, new
{
    size = 4,
    maxlength = 3,
    id = "tbPieces"
}) *
<br />
@Html.ValidationMessageFor(m => m.Pieces)




@*$Id$*@