@*
AdditionalValues in meta data are interpreted as HTML attributes to apply.
If a specific id is needed, it can be passed in ViewData.id.
*@
@{
    var attrs = ViewData.ModelMetadata.AdditionalValues;
    var id = ViewData.TemplateInfo.GetFullHtmlFieldId(string.Empty);
    if (ViewData.ContainsKey("id"))
    {
        id = ViewBag.id;
        attrs = attrs.Concat(ViewData.Where(p => p.Key == "id")).ToDictionary(p => p.Key, q => q.Value);
    }
}
@if (ViewData.ModelMetadata.ShowForEdit)
{
    <label for="@id">@ViewData.ModelMetadata.DisplayName</label>

    @Html.TextBox("", (object)Model, attrs)
    if (ViewData.ModelMetadata.IsRequired)
    { <sup>*</sup> } 
    @Html.ValidationMessage("")
}



@*$Id$*@