<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<solution>
    <add key="disableSourceControlIntegration" value="false" />
  </solution>-->
  <config>
    <!-- Defines a common package repository for all solutions -->
    <add key="repositoryPath" value="..\Packages" />
  </config>
</configuration>