<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\BoxManager\packages.config" />
  <repository path="..\BoxPick\packages.config" />
  <repository path="..\CartonAreas\packages.config" />
  <repository path="..\CartonManager\packages.config" />
  <repository path="..\DcmsLite\packages.config" />
  <repository path="..\DcmsMobile\packages.config" />
  <repository path="..\DcmsRights\packages.config" />
  <repository path="..\EclipseLibrary.Mvc\packages.config" />
  <repository path="..\EclipseLibrary.Oracle\packages.config" />
  <repository path="..\Inquiry\packages.config" />
  <repository path="..\PalletLocating\packages.config" />
  <repository path="..\PickWaves\packages.config" />
  <repository path="..\PieceReplenish\packages.config" />
  <repository path="..\Receiving\packages.config" />
  <repository path="..\Repack\packages.config" />
  <repository path="..\Req2\packages.config" />
  <repository path="..\Shipping\packages.config" />
</repositories>