@using EclipseLibrary.Mvc.Helpers
@model DcmsMobile.Models.LogonModel
@{
    ViewBag.Title = "DCMS Connect Login";
}
<p>
    To login, enter your user name and password
</p>
@using (Html.BeginForm(MVC_DcmsMobile.Logon.Login()))
{
    <label for="tbUser">User name<sup>*</sup></label>
    <input id="tbUser" type="text" name="@Model.NameFor(m => m.UserName)" placeholder="User Name" required="required" autofocus />
    <label for="tbPassword">Password</label>
    <input id="tbPassword" type="password" name="@Model.NameFor(m => m.Password)" placeholder="Password" />

    <input type="submit" value="Log On" />

    @Html.HiddenFor(m => m.ReturnUrl)
}

