/* All labels display fixed width so that input boxes next to them align */
.boxA .boxContent label
{
    width: 6em;
    display: inline-block;
}

/* Validation styles for Index Page */
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


/*Layout*/

*
{
    margin: 0em;
    padding: 0em;
}

body
{
    font-size: 70%;
    margin: 1px 1px 1px 1px;    
}
h1
{
    font-size: 1.1em;
    font-weight: bold;
}

h2
{
    font-size: 0.7em;
    font-weight: bold;
}

#content table
{
    margin-bottom: 0.5em;
}

#content table caption
{
    font-style: italic;
    font-weight: bold;
}

#content table th
{
    font-weight: bold;
    padding: 0.2em;
    color: #444;
}

#content table thead
{
    text-align: left;
    font-weight: bold;
    padding: 0.1em;
    color: #444; /*DB Added background color*/
    background-color: #acf;
}

#content table td
{
    /*DB: Done to decrease space between rows.*/
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#content table tr.rowA
{
    color: inherit;
}

#content table tr.rowB
{
    background-color: #ccc;
    color: inherit;
}

/* Minimal line space after tabs */
.tabs
{
    margin-bottom: 2px;
    font-size: .8em;
}

/* Required for proper appearance of tabs on the ring scanner */
.tabs .ui-button-text
{
    display: inline;
}
body .ui-button-text-only .ui-button-text
{
    padding-right   : 1px;
     padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.picking-status .ui-priority-secondary
{
    font-weight: bold;
}


/*
    $Id$ 
    $Revision$
    $URL$
    $Header$
    $Author$
    $Date$
*/