@model DcmsMobile.PalletLocating.ViewModels.AreaViewModel
@{
    ViewBag.Title = "Destination Area";
}
<div class="box">
    <div class="tabs">
        <label class="ui-button ui-widget ui-button-text-only ui-state-default">
            <span class="ui-button-text">@Html.DisplayFor(m => m.BuildingId)</span>
        </label>
        <span>&raquo;</span>
        <label class="ui-button ui-widget ui-button-text-only ui-state-active">
            <span class="ui-button-text">Area</span>
        </label>
        <span>&raquo;</span>
        <label class="ui-button ui-widget ui-button-text-only ui-state-default">
            <span class="ui-button-text">Pallet</span>
        </label>
        <span>&raquo;</span>
        <label class="ui-button ui-widget ui-button-text-only ui-state-default">
            <span class="ui-button-text">Location</span>
        </label>
    </div>
    <div class="boxContent">
        @Html.Partial(MVC_PalletLocating.PalletLocating.Home.Views._areaFormPartial, Model)
    </div>
</div>



@*
    $Id$ 
    $Revision$
    $URL$
    $Header$
    $Author$
    $Date$
*@