<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="webconfig@x.com">
        <network host="smtp.noida.eclsys.com" defaultCredentials="true" />
        <!--userName="ssinghal" password="sharad" />-->
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!--This setting is for warehouse location, being used for DCMS lite -->
    <add key="DcmsLite.WarehouseLocation" value="LA1" lockItem="true"/>
    
    <!--This is the role each user must have. It is granted when the user is created. User Autocomplete displays users with this role. 
    Users who do not have this role cannot be deleted or modified.-->
    <add key="DcmsUserRole" value="DCMS8_USER" lockItem="true" />
    <!--This is the profile each user must have. It is gave when the user is created.-->
    <!--<add key ="DcmsUserProfile" value="SO_DCMS_SINGLE" lockItem="true"/>-->
    <!--Use DcmsLiveBaseUrl for report Links-->
    <add key="DcmsLiveBaseUrl" value="http://w8cameron/DCMSLive/" lockItem="true" />
    <!--Sharad 7 Aug 2012: The full URL of the Release Candidates web site. When the user types 0 in DcmsMobile, we redirect here-->
    <!--<add key="RcUrl" value="http://w8Cameron/dcmsmobiledebug" lockItem="true" />-->
    <add key="RcUrl" value="http://w8cameron/dcmsmoblie" lockItem="true" />
  </appSettings>
  <oracle.dataaccess.client>
    <settings>
      <!--Default Fetch Size 1MB-->
      <add name="FetchSize" value="1048576" />
      <add name="StatementCacheSize" value="50" />
    </settings>
  </oracle.dataaccess.client>
  <connectionStrings>
    <clear />
    <!--<add name="dcms8" connectionString="Data Source=w8cameron/dcmsprd1.noida.eclsys.com;Proxy User Id=dcms8;Proxy Password=dcms8"  />
      <add name="dcms4" connectionString="Data Source=w8cameron/dcmsprd1.noida.eclsys.com;Proxy User Id=dcms4;Proxy Password=dcms4;" />-->
    <add name="dcmslite" connectionString="Data Source=w8ethiopia/dcmsprd1;Proxy User Id=dcmslite;Proxy Password=dcmslite" />
    <add name="dcms8" connectionString="Data Source=w8devdb/dcmsprd1;Proxy User Id=dcms8;Proxy Password=dcms8" />
    <add name="dcms4" connectionString="Data Source=w8devdb/dcmsprd1;Proxy User Id=dcms4;Proxy Password=dcms4;" />
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <!--
    httpRuntime element is required to enable paths containing reserved wrods as explained in
    http://haacked.com/archive/2010/04/29/allowing-reserved-filenames-in-URLs.aspx 
    This setting is necessary for us to ensure that a path like http://localhost:2267/Inquiry/CartonArea/CON works.
    Since CON is a reserved file name, this path will throw an error unless this setting exists.
    -->
    <!--requestValidationMode="2.0" is set to support validateRequest attribute to false in views config file
    Request validation detects potentially malicious client input and throws this exception to abort processing of the request. 
    A request abort can indicate an attempt to compromise the security of your application, such as a cross-site scripting attack. 
    It is strongly recommended that your application explicitly check all input regarding request aborts.
    However, you can disable request validation by setting the validateRequest attribute in the @ Page directive to false -->
    <httpRuntime relaxedUrlToFileSystemMapping="true" />
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
    <sessionState mode="InProc" timeout="10" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /> -->
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <trace enabled="true" requestLimit="100" localOnly="false" />
    <!--
    We want the authentication to survive when the user visits the ReleaseCandidates web site.
    The steps for achieving this are documented in
    http://msdn.microsoft.com/EN-US/library/eb0zx8fc(v=vs.100).aspx
    -->
    <authentication mode="Forms">
      <!-- The name, protection, and path attributes must match 
           exactly in each Web.config file.
           
    Sharad 17 Oct 2013: Setting slidingExpiration to true so that users remain logged in longer. The user will auto logout if he stays inactive for 120 minutes.
    Closing the broswer will definitely log the user out.
    -->
      <forms loginUrl="~/Logon" timeout="120" name="DcmsMobile" protection="All" path="/" slidingExpiration="true" />
    </authentication>
    <!-- Validation and decryption keys must exactly match and cannot
         be set to "AutoGenerate". The validation and decryption
         algorithms must also be the same. -->
    <machineKey validationKey="489A80EFF839669A8FDE4245F35583078BB4A57C140C66EAECE6191AF91293DC7B26A7CADC54216A81D216153D9C73BACF7150E73D1F5BE95E8DBED8687406B0" decryptionKey="7DDB8FC2929E38466C43C611A432078798AEB87DD1D13A57901E21CF36989846" validation="SHA1" decryption="AES" />
    <!--This must be on so that our custom error page gets displayed-->
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <membership defaultProvider="OracleMembershipProvider">
      <providers>
        <clear />
        <add name="OracleMembershipProvider" type="EclipseLibrary.Oracle.Web.Security.OracleMembershipProvider" connectionStringName="dcms8,dcms4" applicationName="DcmsWeb" defaultProfile="SO_DCMS_PROFILE,SO_DCMS_SINGLE" />
      </providers>
    </membership>
    <roleManager defaultProvider="OracleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear />
        <add name="OracleProvider" type="EclipseLibrary.Oracle.Web.Security.OracleRoleProvider" connectStringName="dcms8" />
      </providers>
    </roleManager>
    <!--<eventMappings>
      <add name="All Events"
           type="System.Web.Management.WebBaseEvent, 
      System.Web,Version=2.0.0.0,Culture=neutral, 
          PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
      <add name="Heartbeats"
           type="System.Web.Management.WebHeartbeatEvent, 
      System.Web,Version=2.0.0.0,Culture=neutral, 
           PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
      <add name="Application Lifetime Events"
           type="System.Web.Management.WebApplicationLifetimeEvent, 
      System.Web,Version=2.0.0.0,Culture=neutral, 
           PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
      <add name="Request Processing Events"
           type="System.Web.Management.WebRequestEvent, 
       System.Web,Version=2.0.0.0,Culture=neutral, 
           PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
      <add name="All Errors"
           type="System.Web.Management.WebBaseErrorEvent, 
      System.Web,Version=2.0.0.0,Culture=neutral, 
           PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
      <add name="Infrastructure Errors"
           type="System.Web.Management.WebErrorEvent, 
      System.Web,Version=2.0.0.0,Culture=neutral, 
           PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
      <add name="Request Processing Errors"
           type="System.Web.Management.WebRequestErrorEvent, 
      System.Web,Version=2.0.0.0,Culture=neutral, 
           PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
      <add name="All Audits"
           type="System.Web.Management.WebAuditEvent, 
      System.Web,Version=2.0.0.0,Culture=neutral, 
           PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
      <add name="Failure Audits"
           type="System.Web.Management.WebFailureAuditEvent, 
      System.Web,Version=2.0.0.0,Culture=neutral, 
           PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
      <add name="Success Audits"
           type="System.Web.Management.WebSuccessAuditEvent, 
      System.Web,Version=2.0.0.0,Culture=neutral, 
           PublicKeyToken=b03f5f7f11d50a3a" startEventCode="0" endEventCode="2147483647" />
    </eventMappings>-->
    <!-- All Events -->
    <!--All Errors-->
    <healthMonitoring enabled="true" heartbeatInterval="0">
      <providers>
        <add name="HealthEmailProvider" type="System.Web.Management.SimpleMailWebEventProvider" to="ssinghal@eclsys.com" from="dcmsmobile@donotreply.com" buffer="true" bufferMode="Notification" subjectPrefix="DCMS Connect: An error encountered. " />
      </providers>
      <rules>
        <add name="Mail Event Providers" eventName="All Errors" provider="HealthEmailProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00" custom="" />
      </rules>
    </healthMonitoring>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>