@model DcmsMobile.BoxPick.ViewModels.PrinterViewModel
@{
    ViewBag.Title = "BoxPick: Print Pallet";
}
@section head {
    <script type="text/javascript">
        var _emptyOk = true;
    </script>
}
@section heading{
    <h2>
        Confirm Pallet to print</h2>
}
@using (Html.BeginForm(MVC_BoxPick.BoxPick.Confirm.PrintPallet()))
{
    @Html.EditorFor(m => m.Scan)
}
<div>
    <ul>
        <li>Rescan pallet <span class="ui-state-highlight ui-priority-primary">@Model.PalletToPrint</span> to print it.</li>
        <li>Press <span class="ui-priority-primary">enter</span> to go back.</li>
    </ul>
</div>



@*$Id$*@