@model DcmsMobile.BoxPick.ViewModels.SkipUccViewModel
@{
    ViewBag.Title = "BoxPick: Enter Box to remove";
    ViewBag.HelpAction = "SkipUcc";
}
@section head {
    <script type="text/javascript">
        var _emptyOk = true;
    </script>
}
@section heading{
    <h2>
        Remove Box
    </h2>
}
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._tabsPartial, Model, new ViewDataDictionary
{
    {"ActiveTab", "Bo"}
})
@using (Html.BeginForm())
{
    @Html.EditorFor(m => m.ConfirmScan)
}
<div style="font-size: 1.5em; font-weight: bold">
    Are you sure? You want to remove Box from pallet.</div>
<ul>
    <li>Scan Box <span class="ui-state-highlight ui-priority-primary">@Model.UccIdToPick</span> or enter <span class="ui-state-highlight ui-priority-primary">S</span>
        to remove it from pallet and then put a red dot on the label.</li>
    <li>Press <span class="ui-priority-primary">enter</span> to go back.</li>
</ul>
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._bottomPartial, Model)



@*$Id$*@