@model DcmsMobile.BoxPick.ViewModels.PartialPickPalletViewModel
@{
    ViewBag.Title = "BoxPick: Partial Pick Pallet Help";
}
@section head {
    <script type="text/javascript">
        var _emptyOk = true;
    </script>
}
@section heading{
    <h2>
        Partial Picking of Pallet Help</h2>
}
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._tabsPartial, Model, new ViewDataDictionary
{
    {"ActiveTab", "Pa"}
})
@using (Html.BeginForm("PartialPickPallet", "Confirm"))
{
    @Html.EditorFor(m => m.ConfirmPalletId);
}
<div>
    Remaining carton will be removed from the current pallet and further these will
    be assigned to another pallet. Destroy other UCC label.
</div>
<ul>
    <li>Scan the pallet again to confirm. </li>
    <li>Press <span class="ui-priority-primary">enter</span> to go back.</li>
</ul>
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._bottomPartial, Model)



@*$Id$*@