@model DcmsMobile.BoxPick.ViewModels.UccViewModel
@{
    ViewBag.Title = "BoxPick: Ucc Help";
}
@section head {
    <script type="text/javascript">
        var _emptyOk = true;
    </script>
}
@section heading{
    <h2>
        Picking Box Help</h2>
}
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._tabsPartial, Model, new ViewDataDictionary
{
    {"ActiveTab", "Bo"}
})
@using (Html.BeginForm("Ucc", "Home"))
{
    @Html.EditorFor(m => m.ScannedUccId);
}
<ul>
    <li>Scan UCC Label for carton to Pick.</li>
    <li>Scan carton if you have scanned incorrect Carton, this will set it as current carton</li>
    <li>Scan the pallet if this pallet has no space left for more cartons. The remaining
        cartons will be assigned to another puller, including current carton. You should tear up the remaining UCC
        labels.</li>
    <li>Press <span class="ui-priority-primary">enter</span> to go back.</li>
</ul>
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._bottomPartial, Model)




@*$Id$*@