.ui-autocomplete-loading
{
    background: white url('images/ajax-loader.gif') right center no-repeat;
}

/*
When displaying a long list of options, you can simply set the max-height for the autocomplete menu to prevent the menu from growing too large
*/
.ui-autocomplete
{
    max-height: 20em;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.ui-menu-item 
{
    font-size:0.8em;
}
