.widget-container, .progress-dialog .ui-dialog-title
{
    font-size: 8pt;
}

/* Thin title bar for progress dialog */
.progress-dialog.ui-dialog .ui-dialog-titlebar
{
    padding-top:0px;
    padding-bottom:0px;
}

/* All labels display fixed width so that input boxes next to them align */
.boxA .boxContent label
{
    width: 9em;
    display: inline-block;
}


/* Close icon on tab */
#tabs .ui-icon-close, #tabs .ui-icon-print
{
    cursor: pointer;
}
#tabs .ui-tabs-nav li .ui-icon-close
{
    float: left;
    margin: 0.6em 0.2em 0 0;
}
#tabs .ui-tabs-nav li a
{
    padding-right: 0px;
}

/* Validation styles for Index Page */
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}


/*Layout*/

#menu li.banner
{
    color: #fff;
    font-size: 2.5em;
    font-family: Impact;
    font-style: oblique;
    padding-right: 1.5em;
}

.ui-autocomplete
{
    max-height: 100mm;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    padding-right: 20px;
    font-size: 1.0em;
}

.ui-progressbar.ui-widget
{
    height: 1em;
    margin-bottom: 1mm;
}

.centered
{
    text-align: center;
}

.right-align
{
    text-align: right;
}

.highlight 
{
    color: #00CED1;
}
.processing-state 
{
    float: left;
    background: transparent url('images/ajax-loader.gif') repeat-y;
    height: 16px;
    width: 16px;
}