@{
    ViewBag.Title = "Pick Waves Home";
    Layout = @MVC_PickWaves.PickWaves.SharedViews.Views._layoutPickWaves;
}


<div class="container">
    <h2 style="margin-top:0">
        Pick Wave Home
    </h2>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Customers())">

                            Manage Pick Waves
                        </a>

                    </h3>
                </div>
                <div class="panel-body">
                    TODO: Show recently created pick waves
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Create Pick Waves
                    </h3>
                </div>
                <div class="panel-body">
                    TODO: Show customer list whose pick waves can be created
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Create Pitch Carts
                    </h3>
                </div>
                <div class="panel-body">
                    TODO: List of pick waves for which MPC can be created
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="@Url.Action(MVC_PickWaves.PickWaves.BoxPickPallet.Index())">
                            Box Expediting
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    TODO: List of pick waves for which boxes can be expedited
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="@Url.Action(MVC_PickWaves.PickWaves.Config.Index())">
                            Pick Wave Configuration
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Carton Sizes</li>
                        <li>Style Cartons Sizes</li>
                        <li>Customer Carton Sizes</li>
                        <li>Customer Weight and Volume Restrictions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
