/* Bucket Model Display styles */


.bucketmodel-display {
    border-collapse: collapse;
    margin-bottom: 1em !important;
}

    .bucketmodel-display tbody td, .bucketmodel-display thead th, .bucketmodel-display thead td {
        border: 1px solid gray;
    }

    .bucketmodel-display span.ui-icon {
        cursor: pointer;
        display: inline-block;
    }

/* Classes used by box list to distinguish pulling and pitching boxes*/
.pitched-box {
    background-color: paleturquoise;
}

.pulled-box {
    background-color: antiquewhite;
}
