
/* Bullet list in the third column which displays customers*/
td ul {
    list-style-type: none;
}

    td ul > li {
        margin-top: 1mm;
    }

        /* Width of pencil and customer name*/
        td ul > li > span.customer {
            display: inline-block;
            width: 25em;
        }
        /* Value of the constraint*/
        td ul > li span.constraint-value {
            vertical-align: top;
            text-align: right;
            display: inline-block;
            width: 5em;
            padding-right: 1mm;
        }

        /* Pencil icon*/
        td ul > li span.ui-icon {
            cursor: pointer;
            display: inline-block;
            vertical-align: bottom;
        }


.ui-dialog-content label {
    width: 20em;
    display: inline-block;
}

table, th, td {
    border: 1px solid lightslategray;
    border-collapse: collapse;
} 