/*
	Progress bar features:
	 - Inline.
	 - Thin height
	- Fixed witdth
	- Ability to show value within bar

	Sample Markup:


<div class="pw-thin-progressbar ui-progressbar ui-widget ui-widget-content ui-corner-all" style="width: 15em;">
	<div style="width: 40%" class="ui-progressbar-value ui-widget-header ui-corner-left">
		Picked
	</div>
	<div style="width: 50%" class="ui-progressbar-value">
		Not Picked
	</div>
</div>

	*/
.pw-thin-progressbar.ui-progressbar
{
	height: 1.1em;
	display: inline-block;
	white-space: nowrap;
	width: 12em;
}

	/*Removing gap between multiple bars inside the progress bar*/
	.pw-thin-progressbar .ui-progressbar > .ui-progressbar-value
	{
		margin-right: -4px;
	}


.pw-thin-progressbar .ui-progressbar-value
{
	display: inline-block;
	text-align: center;
	font-size: 0.9em;
	overflow: hidden;
	font-weight: normal;
}

.boxA a
{
    color: #069;
}

thead th, thead td
{
    text-align: center;
}


ul.customerActionMenu
{
    width: 8em;
}