/* Bucket Model Display styles */


.bucketmodel-display {
    border-collapse: collapse;
    margin-bottom: 1em !important;
}

    .bucketmodel-display tbody td, .bucketmodel-display thead th, .bucketmodel-display thead td {
        border: 1px solid gray;
    }

    .bucketmodel-display span.ui-icon {
        cursor: pointer;
        display: inline-block;
    }

/* Classes used by box list to distinguish pulling and pitching boxes*/
.pitched-box {
    background-color: paleturquoise;
}

.pulled-box {
    background-color: antiquewhite;
}

/* Bucket Model Editor styles*/
div.bucketmodel-editor > div > label
{
    width: 12em;
    display: inline-block;
    vertical-align: top;
}

div.bucketmodel-editor > div
{
    margin-bottom: 0.25em;
}

div.bucketmodel-editor em
{
    color: #777;
}



/*
	Progress bar features:
	 - Inline.
	 - Thin height
	- Fixed witdth
	- Ability to show value within bar

	Sample Markup:


<div class="pw-thin-progressbar ui-progressbar ui-widget ui-widget-content ui-corner-all" style="width: 15em;">
	<div style="width: 40%" class="ui-progressbar-value ui-widget-header ui-corner-left">
		Picked
	</div>
	<div style="width: 50%" class="ui-progressbar-value">
		Not Picked
	</div>
</div>

	*/
.pw-thin-progressbar.ui-progressbar
{
	height: 1.1em;
	display: inline-block;
	white-space: nowrap;
	width: 12em;
}

	/*Removing gap between multiple bars inside the progress bar*/
	.pw-thin-progressbar .ui-progressbar > .ui-progressbar-value
	{
		margin-right: -4px;
	}


.pw-thin-progressbar .ui-progressbar-value
{
	display: inline-block;
	text-align: center;
	font-size: 0.9em;
	overflow: hidden;
	font-weight: normal;
}

ul#actionMenu li {
    cursor: pointer;
}

div.suggestions {
    margin: 1em 1em;
    padding: 1em 0em 1em 2em;
}

    div.suggestions > ul {
        list-style-type: none;
    }

        div.suggestions > ul > li {
            display: inline-block;
            width: 37%;
            vertical-align: top;
        }

/* Progress bar values in BucketModel template should appear clickable and underlined */
#bucketModelPartial div[data-activity] .ui-progressbar-value {
    cursor: pointer;
    text-decoration: underline!important;
    vertical-align: top;
    min-width: 4em;
    overflow: visible;
}

