ul#actionMenu li {
    cursor: pointer;
}

div.suggestions {
    margin: 1em 1em;
    padding: 1em 0em 1em 2em;
}

    div.suggestions > ul {
        list-style-type: none;
    }

        div.suggestions > ul > li {
            display: inline-block;
            width: 33%;
            vertical-align: top;
        }

/* Progress bar values in BucketModel template should appear clickable and underlined */
#bucketModelPartial div[data-activity] .ui-progressbar-value {
    cursor: pointer;
    text-decoration: underline!important;
    vertical-align: top;
    min-width: 4em;
    overflow: visible;
}
