@{  
    ViewBag.Title = "DCMS Lite Home";
}

<div class="box">
    <h2>DCMS Lite Main Menu</h2>
    <div class="boxContent">
        <blockquote>
            <ol>
                <li>
                    @Html.ActionLink("Receive Cartons.", MVC_DcmsLite.DcmsLite.Receive.Index())
                    <span>Select an ASN from the list to receive it.</span>
                </li>
                <li>
                    @Html.ActionLink("Print Labels for Pick Wave.", MVC_DcmsLite.DcmsLite.Pick.Index())
                    <span>Select Pick Wave from the list to print labels in batches, these labels will serve as your pick ticket.</span>
                </li>
                <li>
                    @Html.ActionLink("Validate Boxes of Pick Wave.", MVC_DcmsLite.DcmsLite.Validation.Index())
                    <span>Scan UCC label to validate the box.</span>
                </li>
            </ol>
        </blockquote>
    </div>
</div>

@section scripts {
    <script src="@Links_DcmsLite.Areas.DcmsLite.Scripts.layout_js" type="text/javascript"></script>
}
