@model DcmsMobile.MainArea.Logon.ChangeExpiredPasswordModel
@{
    ViewBag.Title = "Change Expired Password";
}
<div data-role="page">
    <div data-role="content">
        @using (Html.BeginForm(MVC_DcmsMobile.Logon.ChangeExpiredPassword()))
        {
            <div>
                New password twice, then Enter:
                <br />
                @Html.PasswordFor(m => m.NewPassword, new
        {
            onkeypress = "window.event.keyCode == 13 && tbConfirmPassword.focus();"
        })
                <br />
                @Html.PasswordFor(m => m.ConfirmPassword, new
       {
           id = "tbConfirmPassword",
           onkeypress = "window.event.keyCode == 13 && document.forms[0].submit();"
       })
                @Html.HiddenFor(m => m.ReturnUrl)
                @Html.HiddenFor(m => m.UserName)
            </div>
        }
    </div>
</div>
