@model DcmsMobile.MainArea.Logon.GetNewPasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = @MVC_DcmsMobile.SharedViews.Views._layoutMain;
}
<div data-role="page">
    <div class="ui-content">
        @using (Html.BeginForm(MVC_DcmsMobile.Logon.ChangePassword(), FormMethod.Post))
        {
            <div>
                Old Password
                <br />
                @Html.PasswordFor(m => m.OldPassword, new
   {
       onkeypress = "window.event.keyCode == 13 && tbNewPassword.focus();"
   })
                <br />
                New password twice, then Enter:
                <br />
                @Html.PasswordFor(m => m.NewPassword, new
        {
            id = "tbNewPassword",
            onkeypress = "window.event.keyCode == 13 && tbConfirmPassword.focus();"
        })
                <br />
                @Html.PasswordFor(m => m.ConfirmPassword, new
       {
           id = "tbConfirmPassword",
           onkeypress = "window.event.keyCode == 13 && document.forms[0].submit();"
       })
            </div>
        }
    </div>
</div>