@model DcmsMobile.BoxPick.ViewModels.PalletViewModel
@{
    ViewBag.Title = "BoxPick: Pallet Help";
}
@section head {
    <script type="text/javascript">
        var _emptyOk = true;
    </script>
}
@section heading{
    <h2>
        Pallet Help</h2>
}
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._tabsPartial, Model, new ViewDataDictionary
{
    {"ActiveTab", "Pa"}
})
@using (Html.BeginForm("Pallet", "Home"))
{
    @Html.EditorFor(m => m.ScannedPalletId)
}
<ul>
    <li>Scan the pallet which you want to pick. </li>
    <li>Scan new pallet if you want to pick it for ADR. </li>
    <li>Scan already picked pallet to re-print it. </li>
    <li>Press <span class="ui-priority-primary">enter</span> to go back.</li>
</ul>
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._bottomPartial, Model)




@*$Id$*@