<!--This document is HTML5 Validated by "W3C Markup Validation Service" at http://validator.w3.org/ on 15 Dec 2014 by apanwar-->
@*Used by _bucketModelPartial to freeze a bucket*@
<div class="modal fade" id="freezeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Freeze Pick Wave</h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm(MVC_PickWaves.PickWaves.ManageWaves.FreezeBucket(), FormMethod.Post))
                {
                    <input type="hidden" name="@MVC_PickWaves.PickWaves.ManageWaves.FreezeBucketParams.bucketId" id="hfBucketid" />
                    <input type="hidden" name="@MVC_PickWaves.PickWaves.ManageWaves.FreezeBucketParams.freeze" value="True" />

                }
                <blockquote class="text-info">Pick Wave can not be processed till it is frozen.</blockquote>              
                <em>
                    <strong id="countNotStartedBoxes">Not Started box count here</strong>  Boxes assigned to this pick wave, which are not picked will be deleted and will be available for other pick waves.
                </em>
                <br />
                <br />
                <b>
                    Are you sure want to freeze pick wave?
                </b>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

