@model DcmsMobile.PieceReplenish.ViewModels.CartonViewModel
@{
    ViewBag.Title = "Piece Replenish - Scan Carton";
}
@section sidebar {
    <div class="box boxA">
        <div class="boxContent">
            @Html.Partial(MVC_PieceReplenish.PieceReplenish.Home.Views.Carton_mobile)
        </div>
    </div>
}
<div class="box">
    <div class="boxContent">
        @if (!Model.IsPuller) { 
            <blockquote>
                You must <a href="@Url.Content("~/Logon?returnUrl=" + Url.Encode(Url.Action(MVC_PieceReplenish.PieceReplenish.Home.Carton(Model.Context.Serialized, Model.PalletId))))">
                        login now</a>  as a puller  or as a Replenishment Manager before scanning a carton.
            </blockquote>
        }
        <p>
            <span style="font-weight: bold; font-size: medium; color: red;">&#33;</span> The pullers see this symbol against
                        high priority cartons. A high priority carton contains an SKU which you have manually designated as high priority.
        </p>
        <p>
            Carton suggestions displayed have been assigned to the puller for approximately half an hour. If they have not been pulled within this time,
            they will become canndidates for assigning to other pullers.

        </p>
        <p>
            Occasionally, a carton which has been suggested may not be available at the indicated location. When this happens, pullers should be instructed to enter the sequence of carton from list so that
            the system can place this carton in suspense.
        </p>
    </div>
</div>
@section scripts {
    <style type="text/css">
        #secondaryContent
        {
            width: 28em !important;
        }

        #primaryContentContainer {
            width: 75em;
            left: 30em;
        }
    </style>
}
@*
    $Id: Carton.cshtml 17725 2012-07-26 08:18:57Z bkumar $ 
    $Revision: 17725 $
    $URL: svn://vcs/net4/Projects/Mvc/DcmsMobile.Pull/trunk/Pull/Areas/PieceReplenish/Views/Home/Carton.cshtml $
    $Header: svn://vcs/net4/Projects/Mvc/DcmsMobile.Pull/trunk/Pull/Areas/PieceReplenish/Views/Home/Carton.cshtml 17725 2012-07-26 08:18:57Z bkumar $
    $Author: bkumar $
    $Date: 2012-07-26 13:48:57 +0530 (Thu, 26 Jul 2012) $
*@ 