@model DcmsMobile.PieceReplenish.ViewModels.SkipCartonViewModel
@{
    ViewBag.Title = "Piece Replenish - Confirm Skip Carton";
}
@section sidebar {
    <div class="box boxA">
        <div class="boxContent">
            @Html.Partial(MVC_PieceReplenish.PieceReplenish.Home.Views.SkipCarton_mobile)
        </div>
    </div>
}

@*
    $Id$ 
    $Revision$
    $URL$
    $Header$
    $Author$
    $Date$
*@
