@model DcmsMobile.BoxPick.ViewModels.MainContent.BuildingViewModel


<div>
    <table>
        <caption>Pending Activities</caption>
        <tbody>
            @for (var j = 0; j < Model.PendingActivities.Count(); j++)
            {
                <tr class="@(j % 2 == 0 ? "rowA" : "rowB")">
                    <td>
                        @string.Format("In Building {0}, {1} boxes on {2} pallets need {3} for {4}",
                     Model.PendingActivities[j].BuildingId, Model.PendingActivities[j].PickableBoxCount,
                     Model.PendingActivities[j].CountPallets, Model.PendingActivities[j].PickModeText,
                     Model.PendingActivities[j].AreaShortName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>









@*
    $Id$
    $Revision$
    $URL$
    $Header$
    $Author$
    $Date$
*@