.ui-autocomplete-loading
{
    background: white url('images/ajax-loader.gif') right center no-repeat;
}

/*
When displaying a long list of options, you can simply set the max-height for the autocomplete menu to prevent the menu from growing too large
*/
.ui-autocomplete
{
    max-height: 20em;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

/* Prevents the autocomplete list from going behind the dialog */
.ui-autocomplete.ui-menu 
{
    z-index:2000!important;
}

/* If the font size of list items is too big, customize this style to your requirements */
/*
.ui-menu-item 
{
    font-size:0.8em;
}
*/