<root>
  <FileGroup Name="DcmsLite-all.css">
    <File Path="DcmsLite.partial.css" Minify="true" />
    <File Path="standardized.partial.css" Minify="true" />
  </FileGroup>
  <FileGroup Name="DcmsLite-all.css">
    <File Path="DcmsLite.partial.css" Minify="false" />
    <File Path="standardized.partial.css" Minify="false" />
  </FileGroup>
</root>