@model DcmsMobile.REQ2.ViewModels.Pull.IndexViewModel


<form action="@Url.Action(MVC_REQ2.REQ2.Pull.IndexPost())" method="get">
    <label>Pull from?</label>
    @Html.TextBoxFor(m => m.Choice, new
{
    id = "scan",
    maxlength = 8,
    size = 4
})<sup>*</sup>
    @Html.HiddenFor(m => m.SerializedAreaList)
    <ol>
        @for (var i = 0; i < Model.AreaList.Count; ++i)
        {
            <li>
                @Html.DisplayFor(m => m.AreaList[i].DisplayName)
            </li>
        }
    </ol>
</form>
<div>
    Enter choice number or request.
</div>
