
*
{
    margin: 0em;
    padding: 0em;
}

/* Used for page Title */
/*Used for Page Title(ViewBag.Title)*/
h1
{
    font-size: 1.1em;
    font-weight: bold;
}

/* Used for page heading */
h2
{
    font-size: 0.8em;
    font-weight: bold;
}

/* Make it thinner */
/*.ui-progressbar
{
    height: 0.01em;
}
/* Used for seting bottom-margin after table */
table
{
    margin-bottom: 0.5em;
}
/* Used for table heading(Name) style */
table caption
{
    font-style: italic;
    font-weight: bold;
}

/* Used for table head Style for single row */
table th
{
    font-weight: bold;
    padding: 0.2em;
    color: #444;
}
/* Used for table header Style */
table thead
{
    text-align: left;
    font-weight: bold;
    padding: 0.1em;
    color: #444;
    background-color: #acf;
}

/*Used for each td style*/
table td
{
    padding-left: 0.2em;
    padding-right: 0.2em;
}
/*Used for giving different styles to alternate row*/
table tr.rowA
{
    color: inherit;
}
/*Used for giving different style to alternate row*/
table tr.rowB
{
    background-color: #ccc;
    color: inherit;
}

/* Standard styles used in all projects. many of them are defined by MVC */
/* controls the overall font size  */
body
{
    font-size: 70%;
    margin: 1px 1px 1px 1px;    
}

/* Save space around the heading */
h2
{
    text-align: left;
    margin: 0 0 0 0;
    font-size: 1.2em;
}

/*  consume space surrounding form */
body form
{
    padding: 0 0 0 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*  consume space surrounding text box */
body form input[type=text]
{
    margin: 0 0 0 0;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
}

/* Validation styles for Index Page */
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

