<root>
  <FileGroup Name="Index-desktop.js">
    <File Path="_layoutTabs.partial.js" Minify="true" />
  </FileGroup>
  <FileGroup Name="Index-desktop.js">
    <File Path="_layoutTabs.partial.js" Minify="false" />
  </FileGroup>
  <!--<FileGroup Name="RoutingSummary.js">
    <File Path="_layoutTabs.partial.js" Minify="false" />
  </FileGroup>
  <FileGroup Name="RoutingSummary.js">
    <File Path="_layoutTabs.partial.js" Minify="true" />
  </FileGroup>-->
  <FileGroup Name="Unrouted.js" Minify="true" >
    <File Path="selectable.partial.js"  />    
    <!--<File Path="_layoutTabs.partial.js" />-->
    <File Path="Unrouted.partial.js"/>                  
  </FileGroup>        
  <FileGroup Name="Unrouted.js"  Minify="false" >                                                          
    <File Path="selectable.partial.js"  />                                   
    <!--<File Path="_layoutTabs.partial.js"/>-->
    <File Path="Unrouted.partial.js"/>
  </FileGroup>        
  <FileGroup Name="Routing.js" Minify="true">        
    <File Path="selectable.partial.js"  />
    <!--<File Path="_layoutTabs.partial.js"/>-->    
    <File Path="Routing.partial.js"/>   
  </FileGroup> 
  
  <FileGroup Name="Routing.js" Minify="false" >
    <File Path="selectable.partial.js"  />
    <!--<File Path="_layoutTabs.partial.js" />-->
    <File Path="Routing.partial.js"/>
  </FileGroup>
  
  <!--<FileGroup Name="Routed.js">
    <File Path="_layoutTabs.partial.js" Minify="false" />
  </FileGroup>
  <FileGroup Name="Routed.js">
    <File Path="_layoutTabs.partial.js" Minify="true" />
  </FileGroup>-->
  <FileGroup Name="Bol.js" Minify="false">
    <File Path="selectable.partial.js"  />
    <!--<File Path="_layoutTabs.partial.js"  />-->
    <File Path="Bol.partial.js" />
  </FileGroup>
  <FileGroup Name="Bol.js" Minify="true">
    <File Path="selectable.partial.js"  />
    <!--<File Path="_layoutTabs.partial.js" />-->
    <File Path="Bol.partial.js" />    
  </FileGroup>
<FileGroup Name="Appointment.js" Minify="true">
    <!--<File Path="_layoutTabs.partial.js" />-->    
    <File Path="Appointment.partial.js" />    
  </FileGroup>
  <FileGroup Name="Appointment.js" Minify="false" >          
    <!--<File Path="_layoutTabs.partial.js" />-->
    <File Path="Appointment.partial.js"  />
  </FileGroup>
 <!--<FileGroup Name="PoSearch.js">
    <File Path="_layoutTabs.partial.js" Minify="false" />
  </FileGroup>
 <FileGroup Name="PoSearch.js">
    <File Path="_layoutTabs.partial.js" Minify="true" />
  </FileGroup>-->
</root>