@model int?
<h1>Carton Manager Tutorial</h1>
<br />
<h2>Select the task you wish to perform</h2>
<h3>Advance Screen
</h3>
<ol>
    <li><span>This is an advanced UI which enables you to update multiple properties of
        cartons. You specify the properties you want to update and then scan cartons whose
        properties need to be updated. You can also scan a pallet instead of a carton. Properties
        of all the cartons in the pallet will be changed in this case.</span> </li>
    <li><span>This UI also allows changing price season code of a carton or pallet. You
        can use it for verification by pass instead of VBP module. </span></li>
    <li><span>This UI also allows changing rework status of carton. </span></li>
</ol>
<h3>Create Pallet (C2P)
</h3>
<ol>
    <li>You specify the pallet on which cartons to be placed. If the pallet already has
        cartons , you will see info in terms of number of cartons in area.</li>
    <li>Then you specify the area.That could be any of unnumbered area</li>
    <li>Now you are ready to scan cartons. As you scan a carton, it shows success message
        if carton place on pallet successfully.Carton only qualifies for palletizing if
        no rework has to be done upon carton. </li>
    <li>As a convenience, you can scan a pallet instead of scanning a carton. This is a
        fast way of placing all cartons of the scanned pallet onto a new pallet. You will
        have to confirm your intent to ensure that this does not happen by mistake.
    </li>
</ol>
<h3>Mark Rework Complete
</h3>
<ol>
    <li>This UI will be used for marking rework status of carton as complete and also palletize
        carton.</li>
    <li>Carton qualifies only if rework has to be done upon it.</li>
    <li>Scan pallet on which carton has to be placed. Info about pallet is shown whether
        it's new or already has cartons.</li>
    <li>Provide destination area of carton.Area could be any of unnumbered area.</li>
    <li>Scan carton to be palletized. In success case carton's rework status is marked as
        complete and it is palletized as well.</li>
    <li>Scan pallet to palletize all cartons upon it.In this case confirmation is asked
        before palletizing all cartons of pallet</li>
</ol>
<dl>
    <dt>Which cartons can be scanned in this UI?</dt>
    <dd>The carton with rework can be scanned in this UI</dd>
</dl>
<br />
<h3>Abandon Rework</h3>
<ol>
    <li>Use this UI to undo rework which has to be done upon carton. Carton can also be
        palletized.</li>
    <li>Carton qualifies if some work has to be done upon it.</li>
    <li>In case of success rerwork is abondoned.</li>
</ol>
<h3>Carton Editor</h3>
<ol>
    <li>Use this to edit single carton</li>
    <li>Quality code, Price season code, Virtual warehouse,Pallet, Sku and Pieces can be
        edited.</li>
    <li>Rework status can also be updated. i.e Mark Rework Complete or Abandon Rework</li>
    <li>Irregular and Sample pieces can be transferred to some SKU area.SKU areas should
        have unusable inventory or consolidated UPC code.</li>
    <li>Latest info of carton is displayed after updation</li>
    <li>Carton is deleted if all pieces in it are transferred.</li>
</ol>
<h2>Mobile UI</h2>
<h3>Four UI's have been provided for Mobile</h3>
<ol>
    <li>Create Pallet (C2P)=> First you specify the area shortname. That could be any of unnumbered area.
        After scanning area shortname there could be three cases.
        <ul>
            <li>If area shortname belongs to multiple building, we wiil ask user to scan building.
            </li>
        </ul>
        <ul>
            <li>If area shortname belongs to only one building we will ask user directly to scan destination pallet.</li>
        </ul>
        <ul>
            <li>If area shortname does not belong to any building, we will treated shortname as area and ask user to scan destination pallet.</li>
        </ul>
        Now you are ready to scan cartons. As you scan a carton, it shows success message
        if carton place on pallet successfully.Carton only qualifies for palletizing if
        no rework has to be done upon carton. 
    As a convenience, you can scan a pallet instead of scanning a carton. This is a
        fast way of placing all cartons of the scanned pallet onto a new pallet. You will
      have to confirm your intent to ensure that this does not happen by mistake.
    </li>
    <li>Mark Rework Complete. Use this to Mark Rework Complete of those Cartons on which
        rework has to be done. </li>
    <li>Abandon Rework. If you no longer want to perform rework on Cartons which had been
        marked for rework, use this UI to let the system know.</li>
    <li>Locating Carton. Use this UI to locate Carton to a location. UI supports two modes
        for locating cartons. Pallet mode and Carton mode. Each one is explained below.
        <br />
        a) Pallet mode: User scans a pallet containg cartons and system makes sure that
        every carton in pallet is scaaned. unscanned cartons are put to suspense.
        <ul>
            <li>Scan Pallet: Locator scans the pallet which contains the cartons. Program now asks
                user to scan location.</li>
        </ul>
        <ul>
            <li>Scan Location: Locator scans a location where she wants to place a carton.Program
                now asks user to scan carton to locate. </li>
        </ul>
        <ul>
            <li>Scan Carton: User should generally scan the cartons belong to scanned pallet only.If
                user scans a carton not in current pallet, UI asks for confirmation to locate it.</li>
        </ul>
        b) Carton Mode: Locator has decided to locate individual cartons.
        <ul>
            <li>Scan Pallet: Simply enter to skip the pallet scanning mode. Now you can locate individual
                cartons </li>
        </ul>
        <ul>
            <li>Scan Location: Locator scans a location where she wants to place a carton.Program
                now asks user to scan carton to locate. </li>
        </ul>
        <ul>
            <li>Scan Carton: The scanned carton is placed on the location.</li>
        </ul>
    </li>
</ol>
