<h1>
    ScanToPallet</h1>
<h3>
    Prepared by: Manmohan Bisht
</h3>
<h2>
    Executive Summary</h2>
<p>
    This document describes the new <i>ScanToPallet /Move pallet </i>process of DCMS.
    This document is meant for warehouse managers and shipping supervisors who are responsible
    for shipping the goods to end customer.</p>
<ol>
    <h2>
        Scan To Pallet</h2>
    <p>
        ScanToPallet module is used to palletize boxes at dock area. This process ensures
        that the correct boxes are loaded for each outbound shipment. This will help improve
        delivery accuracy and as a consequence reduce customer chargebacks.</p>
    <p>
        Boxes to be shipped against customer orders are prepared either by pulling directly
        from BIR, by pitching them from FPK, or by using the Checking process. Thus steps
        need to be taken to sort them by destination so that they can be loaded to the correct
        shipment. Within a sortation lane, this project helps palletize the boxes while
        ensuring that each pallet is shipment pure. Use ScanToPallet again to relocate pallets
        to ADR. Simply scan the new pallet and the new location.
    </p>
    <li>
        <h3>
            Palletizing Boxes through ScanToPallet UI</h3>
        <p>
            Log in to the box manager UI and choose the link ScanToPallet. Now you are able
            to work on scan to pallet UI.</p>
    </li>
    <ul>
        <li>Scan a box from conveyor. Program will create a staging pallet for the criteria
            of the scanned box. </li>
        <li>Now scan another box. If the criteria of the scanned box matched with the last box
            then program will accept the box scan and put it on the staging pallet. Boxes will
            be kept on the same staging pallet till the criteria of the scanned boxes get matched
            with the criteria boxes on the staging pallet. All the boxes that on a staging pallet
            will be placed in suspense. These boxes will come out of suspense once they are
            placed on a real pallet.</li>
        <li>If the scanned box does not belongs to the criteria then program will not accept
            that box scan and ask user to put the sorted criteria boxes on a real pallet. On
            this program will suggest some recently created same criteria pallets that have
            maximum empty space. Now it is up to user whether he/she chooses a suggested pallet
            or scans a new pallet.</li>
        <li>On scanning a pallet user will be asked to put the scanned pallet on a location.
            This is recommended that the user must scan a location to put the scanned pallet
            on it. But if user don’t want to put the pallet on location then he/she can skip
            it by simply pressing the ENTER key.</li>
        <li>On pressing the ENTER key program will again ask user to scan a box.</li>
        <li>If user scans an existing pallet, program makes it the active pallet. All future
            box scans are put on this pallet if they belong to the same customer criteria.</li>
        <li>If a staging pallet is near of you and that staging pallet is not assigned to a
            real pallet then you can scan any box of that pallet to make that staging pallet
            active. Now for the active staging pallet you can scan a real pallet barcode any
            time so that the staging pallet converted in a real one.</li>
    </ul>
    <li>
        <h3>
            De palletizing Boxes from a pallet</h3>
        <ul>
            <li>Scan the box on pallet you wants to de palletize, following two scenarios can be
                occurred.<br />
                <h3>
                    Scenario 1:</h3>
                There is no active pallet in the program => the pallet of the scanned box will become
                active.<br />
                <h3>
                    Scenario 2:</h3>
                There is already an active pallet in the program => If the scanned box criteria
                get matched with the criteria boxes on the active pallet then the box will leave
                its old pallet and become part of the active pallet .</li>
        </ul>
        <p>
            For de palletizing one or more boxes from a pallet user can start a new pallet as
            well. For this user will have to scan a new pallet and then scan boxes one by one
            form another pallets. On this the scanned boxes will leave their old pallets and
            get placed on the newly scanned pallet. For this all the scanned boxes must belongs
            to same criteria.
        </p>
        <p>
            So after depalletizing a box form a pallet the box must be placed on any other same
            criteria pallet.
        </p>
    </li>
    <li>
        <h3>
            Pallet Creation Criteria</h3>
        <p>
            There are three basic rules of creating a pallet for customer. Allow or prohibit
            mixing of boxes of customer PO in a pallet, Allow or prohibit mixing of boxes of
            a customer DC in a pallet and Allow or prohibit mixing of boxes of BUCKET in a pallet.
            These rules can be configured in the database tables SPLH and CUSTSPLH.</p>
        <p>
            On the basis of these rules program creates pallets for the boxes of the customers.
            A pallet can never have boxes of multiple customers. Program will always consider
            the pallet creation criteria set for attribute customer. If attribute customer is
            not defined then program will consider the criteria defined for customer. In case
            if the criteria are not set at customer level then program will follow the generic
            criteria set at global level (SPLH). If no criteria is configured anywhere then
            factory default will be mixing of PO, DC and BUCKET will not be allowed for Pallet
            Creation Criteria There are three basic rules of creating a pallet for a customer
            in a pallet.</p>
    </li>
    <li>
        <h3>
            Pallet Limit</h3>
        <p>
            Pallet limit can be set based on volume. If the pallet crossed the set pallet limit
            then program will inform user regarding this by a warning message. User can decide
            to put more boxes on the pallet we don’t stop him.</p>
    </li>
    <li>
        <h3>
            Pallet Suggestions</h3>
        <p>
            In the scan to pallet UI, on scanning a box program will show some pallet suggestions
            so that the user can put the sorted boxes on staging pallet on any of the pallet
            suggested by the program. This will help user to find out already created pallets
            of same criteria that are contained with few boxes. Program will suggest most recently
            created and empty same criteria pallets. Along with this program will also display
            the location and the percentage full of the pallets, so that the user will be able
            to find out the suitable pallets very easily.</p>
    </li>
</ol>
<h2>
    Move Pallets
</h2>
<p>
    Log in to the box manager UI and click on link Move Pallets. Now you are able to
    work on move pallet UI.</p>
<ul>
    <li>Scan a pallet or any box on pallet. Pallet will get activated.</li>
    <li>
        <p>
            Program will ask the count of boxes which are place on passed pallet.User enter
            box count then following two scenarios can be occurred.</p>
        <h3>
            Scenario 1:
        </h3>
        <p>
            If entered box count is correct then program will show all the details of the scanned
            pallet.</p>
        <h3>
            Scenario 2:
        </h3>
        <p>
            If entered box count is incorrect then program will give one more chance to enter
            box count. and if both time entered box count is incorrect then program will force
            to scan each boxes of passed pallet.</p>
        <p>
            Now user scan boxes of pallet one by one and if user scan a box which is not place
            on pallet in system then program will check criteria of box. If scan box criteria
            is match from boxes of pallet criteria then program put this scan box on pallet.And
            if box criteria is not match then UI give error message to remove box from pallet.</p>
        <p>
            When user scanned all boxes of passed pallet then press enter.If user scan all boxes
            of pallet then program will show all the details of the passed pallet. other wise
            program will ask for re-enter.If user re-enter then program remove unscanned boxes
            on pallet and put it on suspense and then show all the details of the passed pallet.Otherwise
            user can scanned remaining boxes of passed pallet.
        </p>
    </li>
    <li>
        <p>
            Program will also show an indicator which informs user whether the boxes of the
            criteria of scanned pallet are about to come in the conveyor or not. This will be
            helpful in emptying the active locations where the newly created pallets are placed.</p>
    </li>
    <li>
        <p>
            On scanning a pallet if the same criteria boxes that are kept on the pallet are
            just verified and about to come on the conveyor then user will be shown the indicator
            with RED color which informs user that not to take this pallet away from the active
            locations as the same criteria boxes are just about to come. In case if no same
            criteria boxes are to come on conveyor then user will be shown a GREEN indicator.
            Which will inform user that the pallet can be taken away from the active location
            as no criteria boxes are about to come.</p>
    </li>
    <li>After scanning a pallet if user wants to locate or move the scanned pallet to some
        location then user will have to scan a location.</li>
    <li>On scanning a valid location program will place the scanned pallet to the scanned
        location. By using this feature user can move the pallets from one area location
        to another area location as well.</li>
    <li>
        <h3>
            Location Suggestions</h3>
        <p>
            For moving a pallet from one area location to another area location when user scans
            a pallet in the move pallet UI. On this user will be shown some location suggestions.
            Location suggested by the program are those locations where the same criteria pallets
            are located. This will help user to know that where the same criteria pallets are
            located so that the user can go to those locations and place the scanned pallet
            near to those locations. Along with the location suggestions program will also display
            the following information. Pallets on the suggested location ,Count of boxes on
            pallets, pallet percent full and area.
        </p>
    </li>
    <li>
        <p>
            Program will allow Oddball boxes to move one area to another.If user want to move
            oddball boxes then Scan box one by one and ScanTOPallet UI put this on staging pallet
            and then scan any box of that staging pallet in MovePallet UI and move it from one
            area to another.</p>
    </li>
</ul>
<h2>
    Merge pallets</h2>
<p>
    Merging of pallets will be helpful in the case where there are some pallets which
    are partially filled with the same criteria boxes. Merging of two pallets can be
    done in ScanToPallet UI. For merging user will have to perform following steps:-</p>
<ul>
    <li>Scan source pallet.</li>
    <li>Scan destination pallet that is contained with the same criteria boxes as the source
        pallet have.</li>
    <li>If the destination pallet criteria matched with the source pallet criteria then
        program will ask user to rescan the destination pallet.</li>
    <li>On scanning the destination pallet again, program will merge the scanned source
        pallet on the scanned destination pallet.</li>
    <li>For merging of two pallets source pallet should never be empty.</li>
</ul>
<h2>
    Box Editor</h2>

    <p>
    <strong>Box Editor allows you to edit following properties of the box :</strong></p>
<ul>
    <li>Remove SKUs of box.</li>
    <li>Cancel Box.</li>
    <li>Re-pitch Box.</li>
    <li>Send Box to green area.</li>
</ul>
<p>
    Box Editor provided four buttons on the screen namely <strong>Remove SKUs, Cancel box,
        Repitch box, Green Box </strong>to handle the below functionalities :</p>
<ul>
    <li><b>Remove SKUs :</b>User may remove the pieces of the particular SKU from the current
        box but can't remove more than the current pieces present in the box. </li>
    <li><b>Re-pitch :</b> User can send the scanned box for re-pitching.
        This is allowed only when number of pieces in the scanned box are less than expected
        pieces. </li>
    <li><b>Green : </b>User might decide to send the box for verification even if the all pieces are not pitched. </li>
    <li><b>Cancel :</b> If the scanned box is to be cancelled, the user can do so by pushing
        the Cancel button. The box will be sent to the Cancel area. </li>
</ul>

