#menu li.banner
{
    color: #fff;
    font-size: 2.5em;
    font-family: Impact;
    font-style: oblique;
    padding-right: 1.5em;
}
.tabs {
    padding-top: 1em;
}

/* spans and divs which display SKU info */
.sku-display
{
    font-size: 0.9em;
    color: Green;
    font-family: Sans-Serif;
    letter-spacing: 0.1mm;
    font-weight: bold;
}

/* Validation styles for Index Page */
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

body
{
    font-size:68%;
}