#menu li.banner
{
    color: #fff;
    font-size: 2.5em;
    font-family: Impact;
    font-style: oblique;
    padding-right: 1.5em;
}
.tabs {
    padding-top: 1em;
}

/* spans and divs which display SKU info */
.sku-display
{
    font-size: 0.9em;
    color: Green;
    font-family: Sans-Serif;
    letter-spacing: 0.1mm;
    font-weight: bold;
}

/* Validation styles for Index Page */
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

body
{
    font-size:68%;
}

/*
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License

    <div id="content">
      <div id="secondaryContent"></div>
      <div id="primaryContentContainer">
        <div id="primaryContent"></div>
        <div id="footer"></div>
    </div>
    </div>
    <div id="footer"></div>
*/

#content {
    position:relative;
}

#secondaryContent
{    
    padding: 1em 2.5em 1.5em 1em;
    overflow:hidden;
    width: 14em;
    position:absolute;
    left:0px;    
}

#primaryContentContainer
{
    /*float: left;*/
    /*margin-left: -19em;*/
    /*width: 100%;*/
    /*padding: 0em 0em 0em 17em;*/
    position:absolute;
    left:17em;
    
}

#footer
{
    /*border-top: solid 1px #e5e5e5;*/
    text-align: center;
    padding: 1.5em 0em 1.5em 0em;
    /*margin-left:-17em;*/ 
}


/* Basic */

*
{
    margin: 0em;
    padding: 0em;
}

h1, h2, h3, h4, h5, h6
{
    color: #444;
}

body input
{
    font-family: tahoma, sans-serif;
    font-size: 10pt; /*DB: Using black color for better visibility*/
    color: #000000;
}

input.button
{
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-bottom: solid 1px #888;
    border-right: solid 1px #888;
    background-color: #eaeaea;
    color: #555;
    font-size: 0.8em;
    padding: 0.35em;
}

input.text
{
    border-top: solid 1px #888;
    border-left: solid 1px #888;
    border-bottom: solid 1px #fff;
    border-right: solid 1px #fff;
    padding: 0.1em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

a
{
    color: #006699;
    text-decoration: underline;
}

a:hover
{
    text-decoration: none;
}

/* Outer */

#outer
{
    margin: 1.5em auto 0em auto;
    width: 100%;
}

/* Header */

#header
{
    padding: 3em 4.5em 0em 4.5em;
}

#header h2
{
    font-size: 0.8em;
    font-weight: normal;
    color: #949494;
    display: inline;
    padding-left: 0.5em;
}

#header h1
{
    font-size: 1.9em;
    display: inline;
    letter-spacing: -0.05em;
}

#header h1 a
{
    color: #343434;
    text-decoration: none;
}

/* Menu */

#menu
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #558800;
    border-bottom: solid 1px #336600;
    width: 100%;
}

#menu ul
{
    padding: 0.5em 4.5em 0.5em 4.5em;
    list-style: none;
}

#menu li
{
    display: inline;
    padding-right: 2.5em;
    font-size: 1em;
}

#menu li a
{
    color: #fff;
    background-color: inherit;
}

#menu li a:hover
{
    border-bottom: solid 1px #558800;
}

/* Content */

#content
{
    padding-left: 2em;
    padding-right: 2em;
}

.box
{
    margin-bottom: 1.25em;
}

.boxContent
{
    margin-top: 0.5em;
    padding: 1.25em 1.25em 0.25em 1em;
    background: #ffffff url('images/a1.gif') top left repeat-x;
}

/** boxA **/

.boxA .boxContent
{
    margin-top: 0em;
    color: #fff;
    border-bottom: solid 1px #bb6600;
    background: #ff8800;
    padding: 1em 1.5em 1em 1em;
}

.boxA span, .boxA label /* SS: Added .boxA label */
{
    font-weight: bold;
    font-size: 0.9em;
}

.boxA a
{
    background-color: inherit;
    color: #fff;
    font-size: 0.9em;
}

.boxA a:hover
{
    text-decoration: none;
    border-bottom: solid 1px #ff9900;
}

.boxA input.button
{
    margin-top: 0.25em;
    vertical-align: middle;
}

.boxA input.text
{
    width: 100%;
}
/*DB:Added so that all inputs have reasonable margin */
input
{
    margin-bottom: .25em;
}

/** boxB **/

.boxB .boxContent
{
    margin-top: 0em;
    color: #fff;
    border-bottom: solid 1px #004466;
    background: #007799;
    padding: 1em 1.5em 1em 1em;
}

.boxB span
{
    font-weight: bold;
    font-size: 0.8em;
}

.boxB a
{
    background-color: inherit;
    color: #fff;
    font-size: 0.8em;
}

.boxB a:hover
{
    text-decoration: none;
    border-bottom: solid 1px #007799;
}

.boxB input.button
{
    margin-top: 0.25em;
    vertical-align: middle;
}

.boxB input.text
{
    width: 100%;
}

/** Content **/


#content p
{
    margin-bottom: 1em;
}

#content strong
{
    color: #444;
}

#content h2, h3, h4, h5, h6
{
}

#content h2, h3
{
}

#content h3
{
    font-size: 1.0em;
}

#content h2
{
    font-size: 1.25em;
}

#content ul, #content ol
{
    margin-bottom: 1em;
    padding-left: 1em;
    line-height: 1.8em;
}

#content blockquote
{
    padding: 1em;
    margin-bottom: 1.5em;
    border-left: solid 6px #558800;
}

#content blockquote p
{
    margin-bottom: 0em;
    line-height: 1.5em;
}

#content table
{
    margin-bottom: 1.5em;
}

#content table caption
{
    font-style: italic;
    font-size: 1.2em;
    font-weight: bold;
}


#content table th
{
    font-weight: bold;
    padding: 0.5em;
    color: #444;
}

#content table thead
{
    text-align: left;
    font-weight: bold;
    padding: 0.5em;
    color: #444; /*DB Added background color*/
    background-color: #acf;
}

#content table td
{
    /*DB: Done to decrease space between rows.*/
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#content table tr.rowA
{
    color: inherit;
}




#content table tr.rowB
{
    background-color: #ccc;
    color: inherit;
}


/* Primary Content */



#primaryContent
{
    border-bottom:solid 1px #e5e5e5;
    /*margin: 0em 0em 0em 15em;
    padding: 0em 2.5em 1.5em 2.5em;*/
}




