@model DcmsMobile.BoxPick.ViewModels.SkipUccViewModel
@{
    ViewBag.Title = "BoxPick: Remove Box Help";
}
@section head {
    <script type="text/javascript">
        var _emptyOk = true;
    </script>
}
@section heading{
    <h2>
        Remove Box Help
    </h2>
}
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._tabsPartial, Model, new ViewDataDictionary
{
    {"ActiveTab", "Bo"}
})
@using (Html.BeginForm("SkipUcc", "Confirm"))
{
    @Html.EditorFor(m => m.ConfirmScan)
}
<div>
    If you are not able to find the carton or UCC label is damaged, and you want to
    put red dot on the label.
</div>
<ul>
    <li>Scan the UCC label or enter "S" again to confirm. </li>
    <li>Press <span class="ui-priority-primary">enter</span> to go back.</li>
</ul>
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._bottomPartial, Model)




@*$Id$*@