/* Standard styles used in all projects. many of them are defined by MVC */

/* Used for page Title */
/*Used for Page Title(ViewBag.Title)*/
h1
{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}


/* controls the overall font size  */
body
{
    font-size: 70%;
    margin: 1px 1px 1px 1px;    
}

/* Save space around the heading */
h2
{
    text-align: left;
    margin: 0 0 0 0;
    font-size: 0.8em;
    margin:0;
}

/*  consume space surrounding form */
body form
{
    padding: 0 0 0 0;
    margin-top: 0;
    margin-bottom: 2px;
}

/*  consume space surrounding text box */
body form input
{
    margin: 0 0 0 0;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
}

/* Validation styles for Index Page */
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
#divStatusSummary ul
{
    margin-top: 0px;
}