<root>
  <FileGroup Name="REQ2-all.css">
    <File Path="REQ2.partial.css" Minify="false" />
    <File Path="Autocomplete.partial.css" Minify="false" />
    <File Path="standardized.partial.css" Minify="false" />
  </FileGroup>
  <FileGroup Name="REQ2-all.css">
    <File Path="REQ2.partial.css" Minify="true" />
    <File Path="Autocomplete.partial.css" Minify="true" />
    <File Path="standardized.partial.css" Minify="true" />
  </FileGroup>
</root>