<root>
  <FileGroup Name="REQ2-all.css">
    <File Path="REQ2.partial.css" Minify="true" />
    <File Path="standardized.partial.css" Minify="true" />
  </FileGroup>
  <FileGroup Name="ManageSku.css">
    <File Path="ManageSku.partial.css" Minify="true" />
  </FileGroup>
  <FileGroup Name="PULL-all.css">
    <File Path="PULL.partial.css" Minify="true" />
  </FileGroup> 
</root>