@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <a href="@Url.Action(MVC_PickWaves.PickWaves.Home.Search("23008"))">See other pick wave of Customer 23008</a>
    </div>
</body>
</html>
