
@model DcmsMobile.Models.ViewModelBase
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <p>This is phone layout</p>
    @Html.StatusSummary()
    @Html.ValidationSummary()
    @RenderBody()
</body>
</html>

