<root>
  <FileGroup Name="layout.js">
    <File Path="layout.partial.js" Minify="false" />
  </FileGroup>
  <FileGroup Name="layout.js">
    <File Path="layout.partial.js" Minify="true" />
  </FileGroup>

  <FileGroup Name="Batch.js">
    <File Path="layout.partial.js" Minify="false" />
    <File Path="Batch.partial.js" Minify="false" />
  </FileGroup>
  <FileGroup Name="Batch.js">
    <File Path="layout.partial.js" Minify="true" />
    <File Path="Batch.partial.js" Minify="true" />
  </FileGroup>
  <FileGroup Name="Wave.js">
    <File Path="layout.partial.js" Minify="false" />
    <File Path="Wave.partial.js" Minify="false" />
  </FileGroup>
  <FileGroup Name="Wave.js">
    <File Path="layout.partial.js" Minify="true" />
    <File Path="Wave.partial.js" Minify="true" />
  </FileGroup>

  <FileGroup Name="Receive.js">
    <File Path="layout.partial.js" Minify="false" />    
    <File Path="Receive.partial.js" Minify="false" />
  </FileGroup>
  <FileGroup Name="Receive.js">
    <File Path="layout.partial.js" Minify="true" />    
    <File Path="Receive.partial.js" Minify="true" />
  </FileGroup>
</root>