<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <clear />
    <add name="dcms8" connectionString="Data Source=w8devdb/dcmsprd1;Proxy User Id=dcms8;Proxy Password=dcms8" />
    <add name="dcms4" connectionString="Data Source=w8devdb/dcmsprd1;Proxy User Id=dcms4;Proxy Password=dcms4;" />
    <!--<add name="dcms8" connectionString="Data Source=w8proddb/dcmsprd1;Proxy User Id=dcms8;Proxy Password=dcms8" />
    <add name="dcms4" connectionString="Data Source=w8proddb/dcmsprd1;Proxy User Id=dcms4;Proxy Password=dcms4;" />-->
    <!--<add name="dcms8" connectionString="Data Source=FDCDCMSTEST.MFWW.COM/dcmstest.mfww.com;Proxy User Id=dcms8;Proxy Password=dcms8"/>
    <add name="dcms4" connectionString="Data Source=FDCDCMSTEST.MFWW.COM/dcmstest.mfww.com;Proxy User Id=dcms4;Proxy Password=dcms4;"/>-->
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <!--Reports URL-->
    <add key="DcmsLiveBaseUrl" value="http://w3china/DCMSLive/" lockItem="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <!--Do not turn on client validation by default since this might hamper mobile pages. Turn it on in individual views-->
    <!--<add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1"/>
      </system.Web>
  -->
  <system.web>
    <!--
    httpRuntime element is required to enable paths containing reserved wrods as explained in
    http://haacked.com/archive/2010/04/29/allowing-reserved-filenames-in-URLs.aspx 
    This setting is necessary for us to ensure that a path like http://localhost:2267/Inquiry/CartonArea/CON works.
    Since CON is a reserved file name, this path will throw an error unless this setting exists.
    -->
    <httpRuntime relaxedUrlToFileSystemMapping="true" />
    <compilation debug="true" targetFramework="4.5.1">
      <!--<assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>-->
    </compilation>
    <trace enabled="true" requestLimit="40" localOnly="false" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <membership defaultProvider="OracleMembershipProvider">
      <providers>
        <clear />
        <add name="OracleMembershipProvider" type="EclipseLibrary.Oracle.Web.Security.OracleMembershipProvider" connectionStringName="dcms8" applicationName="DcmsWeb" />
      </providers>
    </membership>
    <roleManager defaultProvider="OracleProvider" enabled="true" cacheRolesInCookie="false">
      <providers>
        <clear />
        <add name="OracleProvider" type="EclipseLibrary.Oracle.Web.Security.OracleRoleProvider" connectStringName="dcms8" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!-- Requirement of VirtualPathProviderEx. Needed so that we can access content and script files from DcmsMobile directory-->
    <handlers>
      <add name="AspNetStaticFileHandler-GIF" path="*.gif" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="AspNetStaticFileHandler-JPG" path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="AspNetStaticFileHandler-CSS" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="AspNetStaticFileHandler-JS" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="AspNetStaticFileHandler-EOT" path="*.eot" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="AspNetStaticFileHandler-SVG" path="*.svg" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="AspNetStaticFileHandler-TTF" path="*.ttf" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
      <add name="AspNetStaticFileHandler-WOFF" path="*.woff" verb="GET,HEAD" type="System.Web.StaticFileHandler" />
    </handlers>    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>