@using (Html.BeginForm(MVC_REQ2.REQ2.Home.DisplayExistingRequest(), FormMethod.Get, new
        {
            id = "frmSearch"
        }))
{
    <label>
        Existing Request ID</label>
    <span style="white-space: nowrap">
        <input type="text" id="tbCtnresvId" name="reqId" size="10" />
        <span>*</span></span>
    <button id="btnGo">
        Go
    </button>
   <div id="divError"></div>
}
@*$Id$*@