@{
    ViewBag.Title = "REQ";
}
<div class="box">
    <h2>Select the task you wish to perform</h2>
    <div class="boxContent">
        @Html.ActionLink("Toggle Mobile Emulation", MVC_REQ2.REQ2.Home.ToggleEmulation())
        <blockquote>
            <dl>
                <dt>@Html.ActionLink("REQ", MVC_REQ2.REQ2.Req.DisplayRecentRequest())
                </dt>
                <dd>Create or manage request and also assign or unassign cartons in any request.
                </dd>
                <dt>@Html.ActionLink("PULL", MVC_REQ2.REQ2.Pull.Index())
                </dt>
                <dd>Pull cartons of any request
                </dd>
            </dl>
        </blockquote>
    </div>
</div>
