@{
    ViewBag.Title = "REQ";
}
<div class="box">
    <h2>Select the task you wish to perform</h2>
    <div class="boxContent">
        @if (this.ViewContext.HttpContext.GetOverriddenBrowser().IsMobileDevice != this.ViewContext.HttpContext.Request.Browser.IsMobileDevice)
        { 
            @Html.ActionLink("Toggle Mobile Emulation", MVC_REQ2.REQ2.Home.ToggleEmulation())
        }
        <blockquote>
            <dl>
                <dt>@Html.ActionLink("PULL", MVC_REQ2.REQ2.Pull.Index())
                </dt>
                <dd>Pull cartons of any request
                </dd>
            </dl>
        </blockquote>
    </div>
</div>
