@model DcmsMobile.BoxPick.ViewModels.CartonViewModel
@{
    ViewBag.Title = "BoxPick: Carton Help";
}
@section head {
    <script type="text/javascript">
        var _emptyOk = true;
    </script>
}
@section heading{
    <h2>
        Carton Help</h2>
}
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._tabsPartial, Model, new ViewDataDictionary
{
    {"ActiveTab", "Ca"}
})
@using (Html.BeginForm("Carton", "Home"))
{
    @Html.EditorFor(m => m.ScannedCartonId);
}
@if (string.IsNullOrEmpty(Model.AlternateLocations.FirstOrDefault()))
{
    <span class="ui-state-hover">Alternate location not found</span> 
}
else
{
    <fieldset>
    <legend>Alternate Locations</legend>
    <div class="ui-priority-primary" style="font-size:1.5em">
        @foreach (var item in Model.AlternateLocations)
        {
            <span>
                @item
            </span>

        }
        </div>
    </fieldset>
    
}
<ul>
    <li>Scan carton to Pick. </li>
    <li>Scan UCC Label or enter "S" to skip it. This will put a red dot on the UCC. </li>
    <li>Scan the pallet if this pallet has no space left for more cartons. The remaining
        cartons will be assigned to another puller. You should tear up the remaining UCC
        labels.</li>
    <li>Press <span class="ui-priority-primary">enter</span> to go back.</li>
</ul>
@Html.Partial(MVC_BoxPick.BoxPick.Shared.Views._bottomPartial, Model)
@*$Id$*@